/* Variables */

:root{
    --range: #d7dcde;
    --range-toggle: #ababab;
    --bacis-color-light:#283136;
    --bacic-color: #000000;
    --basic-header-white:#EEEEEE;
    --basic-main:#FFFFFF;
    --btn-red-basic:#FB565A;
    --btn-red-hover:#E74246;
    --btn-red-active:#D7373B;
    --btn-green-basic: #00CA74;
    --btn-green-hover: #00BC6C;
    --btn-green-active: #00AA62;
    --btn-orange-basic: #EFC849;
    --btn-orange-hover: #EAB534;
    --btn-orange-active: #E5A722;
    --btn-sidebar-hover:#DFDFDF;
    --bth-sidebar-active: #D5D5D5;
    --text-color:#666666;
    --border-solid:#DBDBDB;
    --social-gradient:background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    --button-active-pagination: background: rgba(0, 0, 0, 0.0001);
}

/* Global */

.page-body{
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:var(--bacis-color);
    background-color: var(--basic-main);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

footer{
    flex-shrink: 1;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

hr{
    background: #EEEEEE;
    text-align: center;
    max-width: 1158px;
    height: 2px;
    border: 0px;
}

.clear-list{
    list-style: none;
    padding: 0;
}

.button{
    cursor: pointer;
    color: #FFFFFF;
    background: var(--btn-red-basic);
    border-radius: 3px;
    padding: 17px 54px 15px 54px;
    text-transform: uppercase;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.page-header{
    padding-top: 50px;
}

.main-bg{
    background-color: var(--basic-header-white);
}

.page{
    height: 100%;
}

.page-wrapper.container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-wrapper{
    align-items: center;
    font-weight: 500;
}

.page-header-logo{
    min-width: 352px;
}

.page-header-logo img{
    width: 159px;
    height: 65px;
}

.page-header-logo img:hover{
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.page-header-logo img:active {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    margin: 0;
    padding: 0; 
    list-style: none;
    line-height: 30px; 
    cursor: pointer;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.site-navigation li:last-child{
    margin: 0;
    padding: 0;
}

.site-navigation li{
    margin-right: 45px;
    text-align: center;
}

.site-navigation a{
    color: var(--bacis-color-light);
}

.site-navigation a:hover{
    color: var(--btn-red-hover);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.site-navigation a:active{
    color: var(--bacic-color);
    opacity: 0.3;
}

.user-navigation{
    margin-left: auto;    
}

.user-navigation a{
    color: var(--bacis-color-light);
}

.user-navigation a:hover{
    color: var(--btn-red-hover);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.user-navigation a:active{
    color: var(--bacic-color);
    opacity: 0.3;
}

.site-navigation a{
    display: block;
}

.user-navigation a{
    display: block;
}

.active{
    border-bottom: 2px solid var(--btn-red-basic);
}

.page-header .page-cart{
    color: var(--bacis-color);
    text-transform: uppercase;
    padding-left: 40px;  
    position: relative;
    display: flex;
    margin-left: auto;
}

.page-cart::before{
    content: "";
    position: absolute;
    background: url("/main/img/cart/cart-icon.svg") no-repeat 0 0;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 0px;
}

.page-cart a{
    display: block;
}

.page-cart :hover {
    color: var(--btn-red-hover);
}

.page-cart:active {
    color: var(--bacic-color);
    opacity: 0.3;
}

/* Slider */

.main-slider{
    position: relative;
    margin-bottom: 80px;
}

.slider-controls{
    position: absolute;
    bottom: 96px; 
    display: flex;
    gap: 17px; 
}

.slider-controls button{
    position: relative;
    width: 18px;
    height: 18px;
    background-color: var(--basic-main);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    left: 580px;
}

.slider-controls .current::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 2px;
    height: 2px;
    background-color: transparent;
    border: 3px solid var(--bth-sidebar-active);
    border-radius: 50%;
}

.slider-container{
    width: 1160px;
    margin: 0 auto;  
}

.slider-container h1{
    margin: 0;
}

.slider-items{
    margin: 0;
    padding: 0;
}

.slider-image img{
    width: 760px;
    height: 430px;
}

.slider-item {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 78px;
    position: relative;
    display: none;
}

.slide-current{
    display: block;
}

.slider-item h2{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
    margin-top: 0;
}

.slider-item p{
    margin-bottom: 38px;
}

.slider-item-smartphone::after{
    content: "";
    background-image: url("/main/img/Management/slide-first.png");
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 760px;
    height: 430px;
}

.slider-item-monitor::after{
    content: "";
    background-image: url("/main/img/Management/slide-second.png");
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 760px;
    height: 430px;
}

.slider-item-tablet::after{
    content: "";
    background-image: url("/main/img/Management/slide-third.png");
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 760px;
    height: 430px;
}

.slider-button {
    cursor: pointer;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
    padding: 17px 54px 15px 54px;
    display: inline-block;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.slider-button:hover{
    background-color: var(--btn-red-hover);
}

.slider-button:active{
    background-color: var(--btn-red-active);
}

/* Services list */

.main-services {
    max-width: 1160px;
    margin: 0 auto;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.services-item{
    width: 300px;
    min-height: 347px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.services-item:nth-child(3n){
    margin-right: 0;
}

.services-item h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
}

.services-item p{
    font-size: 16px;
    margin-bottom: 32px;
}

.services-image {
    width: 300px;
    height: 146px;
    margin-bottom: 25px;
}

.button-red {
    padding: 17px 40px 15px 39px;
    background-color: var(--btn-red-basic);
}

.button-red:hover{
    background-color: var(--btn-red-hover);
}

.button-red:active{
    background-color: var(--btn-red-active);
}

.button-green {
    padding: 17px 40px 15px 39px;
    background-color: var(--btn-green-basic);
}

.button-green:hover{
    background-color: var(--btn-green-hover);
}

.button-green:active{
    background-color: var(--btn-green-active);
}

.button-orange {
    padding: 17px 40px 15px 39px;
    background-color: var(--btn-orange-basic);
}

.button-orange:hover{
    background-color: var(--btn-orange-hover);
}

.button-orange:active{
    background-color: var(--btn-orange-active);
}

/* Main about */

.about-wrapper{
    width: 1160px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: auto 360px;
    margin-bottom: 73px;
}

.line-gray{
    border-top: 2px solid var(--bth-sidebar-active);
}

.main-about {
    max-width: 651px;
    font-weight: 400;
}

.main-slogan {
    font-size: 45px;
    line-height: 45px;
    padding-top: 34px;
    margin-bottom: 32px;
    font-weight: 500;
}

.main-desc {
    margin-bottom: 40px;
}

.main-text-uppercase {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.about-list li {
  margin-bottom: 23px;
  position: relative;
  padding-left: 37px;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: red;
}

/* Achievements */

.achievements-content {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
    width: 360px;
    text-align: center;
}

.achievements-content img{
    margin-bottom: 37px;
}

.achievements-persents{
    display: grid;
    grid-template-columns: 119px 125px 135px;
    gap: 1px;
}

.achievements-persents dt{
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    grid-row: 1/4;
    text-align: left;
}

.achievements-persents dd{
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    text-align: left;
   
}

/* Partner list */

.main-partner{
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.partner-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border-top: 2px solid var(--bth-sidebar-active);
    border-bottom: 2px solid var(--bth-sidebar-active);
    padding-top:  45px;
    padding-bottom:  45px;
    align-items: center;
}

.partner-item:hover {
    opacity: 0.2;
}

.partner-item:active {
    opacity: 1;
}

.partner-item-pink {
    margin-top: 65px;
    margin-bottom: 63px;
}

/* Contacts */

.contacts-container{
    width: 1160px;
    margin: 0 auto;
    background-color: var(--basic-main);
    position: relative;
}

.contacts-list{
    background-color: var(--basic-main);
    box-sizing: border-box;
    width: 319px;
    min-height: 309px;
    position: absolute;
    padding: 50px 50px;
    top: 54px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.main-contacts h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 23px;
}

.main-contacts p{
   color:var(--text-color);
   margin-bottom: 20px;
}

.main-phone {
    color: var(--text-color);
    line-height: 18px;
    margin-bottom: 37px;
    display: block;
}

.contacts-button {
    padding: 17px 44px 15px 44px;
    display: block;
}

.contact-marker{
    position: absolute;
    top: 70px;
    left: 760px;
    z-index: 1;
}

.contact-map  {
    position: relative;
    height: 416px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.contacts-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}

.contact-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; 
    z-index: 0;
}

.contacts-button:hover{
    background-color: var(--btn-red-hover);
}

.contacts-button:active{
    background-color: var(--btn-red-active);
}

/* Footer */

.main-footer{
    padding-top: 75px;
    padding-bottom: 68px;
}

.footer-container{
    width:1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-social{
    display: flex;
    list-style: none;
    padding: 0;
}

.social-button {
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    flex-wrap: wrap;
}

.social-button:hover{
    background: var(--btn-red-hover);
}

.social-button:active{
    background: var(--btn-red-basic);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    fill-opacity: 0.2;
}

.social-button:focus{
    background: var(--btn-red-active);
}

.footer-offer{
    margin: 0 auto;
}

.offer-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--bacic-color);
    margin-bottom: 10px;
}

.offer-subtext {
    line-height: 22px;
    color: var(--bacic-color);
}

.social-button a{
    color: var(--bacic-color);
}

/* Catalog */

.title{
    text-align: center;
    
}
.catalog-title{
    padding-top: 78px ;
    padding-bottom: 108px;
}

/* Sidebar */

/* Checked - 1 */

.check-grid-input+ .check-box-grid:focus + label::before{
  opacity: 0.2;
}

.check-grid{
    padding-left: 2em;
}

.check-grid-input{
    position: absolute;
    -webkit-appearance: none;
}

.check-box-grid{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-off.svg");
    margin-left: -2em;
}

.check-grid-input:checked + .check-box-grid{
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-on.svg");
}

.check-grid-input:focus + .check-box-grid{
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-on.svg");
}

/* Check-box Hover - 1 */

.check-grid-input:hover:checked + .check-box-grid{
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-on-checked-hover.svg");
}

.check-grid-input:focus:checked + .check-box-grid{
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-on-checked-hover.svg");
}

.check-grid-input:hover + .check-box-grid{
    width: 25px;
    height: 25px;
    background-image: url("/main/img/Checkbox/radio-off-hover.svg");
}

.check{
    padding-left: 2em;
}
.check-input{
    position: absolute;
    -webkit-appearance: none;
}
.check-box{
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url("/main/img/Checkbox/checkbox-off.svg");
    margin-left: -2em;
}

.check-input:checked + .check-box{
    background-image: url("/main/img/Checkbox/checkbox-on.svg");
    width: 25px;
    height: 23px;
}

/* Check-box Hover */
.check-input:hover:checked + .check-box{
    background-image: url("/main/img/Checkbox/checkbox--hover-on.svg");
}

.check-input:hover + .check-box{
    background-image: url("/main/img/Checkbox/checkbox-off-hover.svg");
}

.check-input:focus:checked + .check-box{
    background-image: url("/main/img/Checkbox/checkbox--hover-on.svg");
}

.check-input:focus + .check-box{
    background-image: url("/main/img/Checkbox/check-f1.svg");
}

.catalog-container{
    width: 1160px;
    margin: 0 auto;
}

.product-grid{
    display: flex;
    column-gap: 140px;
}

.catalog-title{
    margin-bottom: 55px;
}

.catalog-title h1{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

/* Range*/
.catalog-sidebar{
    color:inherit;
    max-width: 260px;
}

.catalog-sidebar fieldset {
    border: 0 none;
    line-height: 20px;
    max-width: 260px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    margin-bottom: 55px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    margin-bottom: 54px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--range);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--btn-green-basic);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: var(--range-toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: var(--basic-main);
    font-family: inherit;
    font-size: inherit;
}

.sidebar-form{
    max-width: 260px;
}

.sidebar-grid{
    margin: 0;
    padding: 0;
}

.sidebar-filter{
    margin: 0;
    padding: 0;
    width: 260px;
}

.sidebar-title{
    margin-bottom: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.grid{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 260px;
}

.grid li{
    margin-bottom: 20px;
}

.button-sidebar {
    padding: 17px 89px 15px 88px;
    background-color: var(--basic-header-white);
    color: var(--bacic-color);
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
}

.button-sidebar:hover{
    background-color: var(--btn-sidebar-hover);
}

.button-sidebar:active{
    background-color: var(--bth-sidebar-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog-navigation-list {
    list-style: none;
    text-transform: uppercase;
}

/* Catalog main */

.sort-diplay-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.sort-diplay-grid p{
    font-weight: 600;
}

.catalog-navigation-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
}

.catalog-item{
    color: var(--bacic-color);
    opacity: 0.3;
}

.catalog-item:hover{
    color: var(--bacic-color);
    opacity: 0.6;
}

.catalog-item:active {
    color: var(--bacic-color);
    opacity: 1;
}

/* Pagination*/

.catalog-pagination{
    opacity: 0.2;
    border: none;
    background-color: transparent;
}

.catalog-pagination:hover{
    opacity: 0.6;
}

.catalog-pagination:active{
    opacity: 1;
}

.pagination{
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.pagination li{
    margin-right: 11px;
}


.button-pagination {
    color: var(--bacic-color);
    background-color: var(--basic-header-white);
    display: block;
    line-height: 50px;
    font-weight: 500;
    width: 50px;
    height: 50px;
    margin: 11px 0px 0px 0px;
    text-align: center;
}

.button-pagination:hover{
    background-color: var(--btn-sidebar-hover);
}

.button-pagination:active{
    background-color: var(--bth-sidebar-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-active {
    background-color: var(--button-active-pagination);
    border: 3px solid #DBDBDB;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-active:focus {
    background-color: var(--basic-main);
    border: 3px solid var(--border-solid);
    border-radius: 3px;
    width: 46px;
    height: 46px;
    
}

.next-page{
    width: 260px;
}

/* Products */

.product-list li{
    position: relative;
}

.product-item-description {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: -1px;
    background-color: var(--basic-header-white);
    width: 362px;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 44px;  
    opacity: 0;
}

.product-header{
    position: relative;
    top: 9px;
}

/* bg img */

.bg-img {
    box-sizing: border-box;
    width: 360px;
    height: 580px;
    background: #F2F2F2;
    border: inset 1px  solid rgba(0, 0, 0, 0.1);
}

.product-list-items:hover .product-item-description {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.product-list-items:hover{
    transform: scale(1.05);
    transition: transform 0.4s;
}

.product-header{
    opacity: 0.2;
}

.product-list-items:hover .product-header{
    opacity: 1;
    transition: opacity 0.5s;
}

.product-item-description h3{
    color: var(--bacic-color);
}

.product-item-description p {
    color: var(--bacic-color);
    padding-bottom: 33px;
}

.button-product{
    display: block;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}
.button-product:hover {
    background-color: var(--btn-red-hover);
}
.button-product:active {
    background-color: var(--btn-red-active);
}

/* Modal window */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 63px 100px 0px 100px;
    width: 960px;
    height: 590px;
    display: none;
    z-index: 2;
}
.modal-show{
    display: block;
    animation-name: popup;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.modal-error{
    animation-name: shake;
    animation-duration: 0.6s;
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.modal-login h2{
    margin: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--bacic-color);
    margin-bottom: 37px;
}

.user-form  input[type="text"]{
    width: 360px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--bacic-color);
}

.user-form  input[type="email"]{
    width: 360px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--bacic-color);
}

.user-form label{
    font-weight: 700;
    line-height: 18px;
    background: #FFFFFF;
    margin-bottom: 9px;
}

.user-form .modal-items input{
    border: 2px solid var(--border-solid);
    border-radius: 3px;
}

.modal-items{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-name{
    display: flex;
    flex-direction: column;
}

.modal-email{
    display: flex;
    flex-direction: column;
}

.modal-comment{
    margin-top: 10px;
}

.modal-comment textarea{
    border: 2px solid #D7DCDE;
    border-radius: 3px;
    padding: 16px;
    width: 761px;
    box-sizing: border-box;
    margin-top: 9px;
    margin-bottom: 47px;
    resize: none;     
}

.modal-button [type="submit"]{
    border: none;
    background-color: var(--btn-red-basic);
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-main);
    text-transform: uppercase;
    padding: 17px 83px;
}

.modal-button [type="submit"]:hover{
    background-color: var(--btn-red-hover);  
}

.modal-button [type="submit"]:active,
.modal-button [type="submit"]:focus{
    background-color: var(--btn-red-active);  
}

.modal-close{
    border: none;
    background: transparent;
    position: absolute;
    background: url("/main/img/Icon/shape-close-modal.svg") no-repeat;
    width: 23px;
    height: 23px;
    top: 80px;
    right:80px;
    cursor: pointer;
}

.modal-close:hover{
    opacity: 0.7;
}

.modal-close:focus{
    opacity: 0.2;
}

/* Keyframes animations*/

@keyframes popup{
    to{
      transform: translateY(0px);  
    }
    from{
      transform: translateY(-2000px);  
    }
}

@keyframes shake {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    }
}